<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <main>
        <form method="post" action="/contact">
            <h1>Contact Now</h1>
            <input id="inp1" type="text" name="name" placeholder="Name"/>
            <input id="inp2" type="emain" name="email" placeholder="E-mail"/>
            <button type="submit">Send Message</button>
        </form>
    </main>
</body>
<script src="index.js"></script>
</html> 




